// VARIBLES

// Color
$themeColor:      #00afd8;
$themeTitle:      #fff;
$themeFormBg:     #00afd8;
$iconColor:       #ffac00;
$linkColor:       #ffac00;
$arrowColor:      rgba(0,0,0,0.5);
$footerDeveloper: #00afd8;

// Fonts
$themeFontLight:  "UbuntuLight";
$themeFontNormal: "UbuntuRegular";
$themeFontMedium: "UbuntuMedium";
$themeFontBold:   "UbuntuBold";

// Media query
$xx-start:        "320px";
$xx-end:          "479px";
$xs-start:        "480px";
$xs-end:          "767px";

$sm-start:        "768px";
$sm-end:          "991px";

$md-start:        "992px";
$md-end:          "1199px";

$lg-start:        "1200px";
$lg-end:          "1599px";

$xl-start:        "1600px";
$xl-end:          "1919px";
$xxl-start:       "1920px";

$hhd-end:         "1279px";
$hd-start:        "1280px";
$hd-end:          "1919px";