<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Push уведомления</name>
        <description multilanguage="true">Привносит в систему техническую возможность для отправки Push уведомлений</description>
        <version>4.0.6</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>
    </defaultValues>
</config>
