@import "../../global/variable";

// Account

.gridblock .cart-wrapper.open {
  .t-drop-default {
    opacity: 1;
    min-width: 300px;
    height: 100%;
    @media (max-width: $xx-end) {
      min-width: 90vw;
      max-width: 90vw;
      height: inherit;
      z-index: 5;
      &__total {
        @include flexbox;
        @include flex-wrap(wrap);
        @include justify-content(center);
        padding-bottom: 15px;
      }
    }
    @media (min-width: $xs-start) and (max-width: $xs-end) {
      min-width: 90vw;
      max-width: 90vw;
      height: inherit;
      z-index: 5;
    }
  }
  .t-drop-default__info {
    font-size: 10px;
  }
}
.t-nav-catalog-list-block{
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
}
.t-drop-default {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  margin: 0 0 0 43px;
  padding: 10px 45px 5px 10px;
  opacity: 0;
  overflow: hidden;
  min-width: 0;
  @include transform(translateX(-100%));
  transition: ease-in-out 0.3s;
  width: 0;
  height: 0;
  @media (max-width: $xx-end) {
    left: 83vw;
    min-width: 90vw;
    max-width: 90vw;
  }
  @media (min-width: $xs-start) and (max-width: $xs-end) {
    left: 86vw;
    min-width: 90vw;
    max-width: 90vw;
  }
  @media (max-width: $xs-end) {
    border-radius: 0;
    margin-top: 25px;
    padding: 0 10px;
    position: absolute;
    &_wrap {
      margin: 10px 0;
    }
  }
  &__title {
    font-size: 14px;
    &:after {
      content: "";
      display: block;
      width: 130%;
      border-bottom: 1px solid #d8d8d8;
      margin-top: 3px;
      margin-left: -10px;
    }
  }
  &__info {
    position: absolute;
    top: 9px;
    right: 45px;
    font-size: 0;
    &_goods, &_total {
      display: block;
      line-height: 1.4;
    }
  }
  &__list {
    padding: 10px 0 5px;
    margin: 0;
    list-style:none;
    &_item {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(space-between);
      @include align-items(center);
      padding: 25px 0;
      border-bottom: 1px solid #d8d8d8;
      width: 107.5%;
      @media (max-width: $xx-end) {
        width: 100%;
        padding-bottom: 0;
        @include flex-direction(column);
        &-img {
          padding-bottom: 25px;
        }
        &-description {
          text-align: center;
        }
        &-price {
          font-size: 21px;
          line-height: 2;
        }
      }
      @media (min-width: $xs-start) and (max-width: $xs-end) {
        width: 100%;
      }
      a {
        color: #000;
        display: block;
        &:hover {
          color: $themeColor;
        }
      }
      &-description {
        padding: 0 10px;
        > small a {
          opacity: 0.65;
          font-family: $themeFontNormal;
          line-height: 1.4;
        }
        > a {
          font-family: $themeFontNormal;
          line-height: 1.4;
          white-space: normal;
        }
      }
      &-del {
        i {
          transition: ease-in-out 0.3s;
          &:hover {
            @include transform(scale(1.15));
          }
        }
      }
    }
    &-price {
      font-size: 16px;
      font-family: $themeFontBold;
      padding: 0 10px;
    }
    li:last-child > div {
      border: none;
    }
    &:last-child {
      border: none;
    }
    &:after {
      content: "";
      display: block;
      width: 130%;
      border-bottom: 1px solid #d8d8d8;
      margin-top: 10px;
      margin-left: -10px;
    }
  }
  &__total{
    &_sum {
      font-size: 12px;
      line-height: 40px;
      display: inline-block;
      padding-top: 10px;
      float: left;
      b {
        font-size: 24px;
        font-family: $themeFontBold;
      }
    }
    &_link {
      float: right;
      margin: 10px -30px 0 0;
      padding-top: 2px;
      padding-bottom: 2px;
      @media (max-width: $xs-end) {
        margin-left: 0;
      }
    }
  }
}