@import "../../global/variable";

// GridBlock
.gridblock {
  width: 50px;
  height: 50px;
  /*@media only screen and (max-width: $xx-end) {
    //pointer-events: none;
  }*/

  .counter {
    background-color:#ccc;
  }

  &.active .counter {
    background-color:#ffac00;
  }

  &_wrapper {
    width: 100%;
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-around);
    padding: 0 15px;

  }
  .cart {
    &-block {
      font-family: $themeFontLight;
      font-size: 12.5px;
      height: 30px;
      line-height: 1.15;
      text-decoration: none;
      display: block;

      .t-close {
        width:0;
        height:0;
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 45px;
        transition: ease-in-out 0.3s;
        z-index: 10;
        @media only screen and (max-width: $xs-end) {
          right: 10px;
        }
        &:hover {
          @include transform(scale(1.15));
        }
      }

      &-wrapper.open .cart-block {
        overflow: auto;
      }

      &_product-empty {
      }
      &_icon-account {
      }

      &_product-count {
        .value {
          padding: 0 5px;
        }
      }

      // Icons
      .cart-block-wrapper {
        white-space: nowrap;
        line-height: 25px;
        padding-left: 5px;
        > i {
          border-radius: 30px;
          width: 45px;
          height: 45px;
          top: 0;
          right: 0;
          display: block;
          position: absolute;
          z-index: 1;
        }
        .pe-7s-share {
          color: #535353;
          padding: 10px;
          mask-repeat: no-repeat;
          mask-position: center center;
          mask-size: 25px;
          font-size: 28px;
        }
      }
      .icon {
        &-cart,
        &-account,
        &-favorite,
        &-graph,
        &-compare {
          cursor:pointer;
          background-color: #fff;
          border-radius: 30px;
          position: absolute;
          top: 0;
          display: block;
          padding: 9px;
          line-height:1;
          transition: ease-in-out 0.3s;
          @media (max-width: $xs-end) {
            top:5px;
          }
          svg {
            width: 25px;
            height: 25px;
            display: block;
          }
        }
        &-cart {
        }
        &-account {
        }
        &-favorite {
        }
        &-graph {
        }
      }
    }
    &-wrapper {
      border-radius: 30px;
      height: 45px;
      width: 45px;
      margin: 3px;
      position: relative;
      @media (max-width: $xs-end) {
        position: inherit;
      }
      &.open {
        z-index: 5;
        >span {
          color: #000;
        }
        >a {
          color: $linkColor;
        }
        .cart-block {

        }
        svg {
          fill: $iconColor;
        }
        .pe-7s-share {
          color: $iconColor;
        }
        .icon-cart, .icon-account, .icon-account, .icon-favorite, .icon-compare {
          line-height:100%;
          @media (max-width: $xs-end) {
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
            border-radius: 30px 30px 0 0;
          }
        }
        .t-close {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.is-sticky .sticky-block {
  background:white;

  @media(max-width:$xs-end) {
    border-bottom:1px solid #e8e8e8;
  }

  @media(min-width:$sm-start) {
    border-radius:30px;
    -webkit-box-shadow:0 0 5px #cacaca;
    -moz-box-shadow:0 0 5px #cacaca;
    box-shadow:0 0 5px #cacaca;
  }

  @media(min-width:$sm-start) and (max-width:$md-end) {
    min-width:210px;
    right:0;
  }

}