<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Статьи</name>
        <description multilanguage="true">Добавление, редактирование статей, категорий</description>        
        <version>3.0.34</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>
        <preview_list_pagesize>10</preview_list_pagesize>
        <search_fields type="array">
            <value>title</value>
            <value>short_content</value>
            <value>content</value>
            <value>meta_keywords</value>
        </search_fields>        
    </defaultValues>
</config>
