<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Меню</name>
        <description multilanguage="true">Построение меню, сопоставление со страницами сайта</description>
        <version>4.0.12</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>
    </defaultValues>
</config>
