<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Мастер установки</name>
        <description multilanguage="true">Производит первичную установку системы</description>
        <version>4.0.10</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>
    </defaultValues>
</config>
