#frame-position {
    margin:-30px 0 -30px;
    z-index:2;
    position:relative;
}

/* ------ */

iframe#frame {
    border: none;
    background:none;
    width: 1px;
    min-width: 100%;
    *width: 100%;

    height: 100%;
}

#mp-loader {
    text-align:center;
    position:absolute;
    width:100%;
    margin-top:50px;
}

#mp-loader .mp-loading,
#mp-loader .mp-loading img {
    vertical-align:middle;
    font-size:45px;
}

#mp-loader .mp-loading i {
    font-style:normal;
    color:#808080;
}

#mp-loader .mp-subtext {
    font-size:16px;
    margin-top:-10px;
    color:#C0C0C0;
}

/* Загрузчик */

.cssload-container{
    display: block;
    margin:49px auto;
    width:97px;
}

.cssload-loading{
    width: 19px;
    height: 19px;
    margin: auto;
    text-align: left;
    transform-origin:center;
    -o-transform-origin:center;
    -ms-transform-origin:center;
    -webkit-transform-origin:center;
    -moz-transform-origin:center;
    animation:cssload-loading-ani1 1.15s ease-in-out infinite;
    -o-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
    -ms-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
    -webkit-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
    -moz-animation:cssload-loading-ani1 1.15s ease-in-out infinite;
}
.cssload-loading i,
.cssload-loading i:before,
.cssload-loading i:after{
    content: "";
    position:absolute;
    width: 19px;
    height: 19px;
    display: inline-block;
    border-radius: 50%;
}
.cssload-loading i:before{
    transform:translate(0,-19px) scale(0.75);
    -o-transform:translate(0,-19px) scale(0.75);
    -ms-transform:translate(0,-19px) scale(0.75);
    -webkit-transform:translate(0,-19px) scale(0.75);
    -moz-transform:translate(0,-19px) scale(0.75);

}
.cssload-loading i:after{
    transform:translate(0,-34px) scale(0.5);
    -o-transform:translate(0,-34px) scale(0.5);
    -ms-transform:translate(0,-34px) scale(0.5);
    -webkit-transform:translate(0,-34px) scale(0.5);
    -moz-transform:translate(0,-34px) scale(0.5);
}
.cssload-loading i:nth-child(1){
    transform:translate(0,49px);
    -o-transform:translate(0,49px);
    -ms-transform:translate(0,49px);
    -webkit-transform:translate(0,49px);
    -moz-transform:translate(0,49px);
}
.cssload-loading i:nth-child(1),
.cssload-loading i:nth-child(1):before,
.cssload-loading i:nth-child(1):after{
    background: rgb(255,179,100);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(2):before,
.cssload-loading i:nth-child(2):after{
    background: rgb(0,168,146);
}
.cssload-loading i:nth-child(2){
    transform:rotate(90deg) translate(0,49px);
    -o-transform:rotate(90deg) translate(0,49px);
    -ms-transform:rotate(90deg) translate(0,49px);
    -webkit-transform:rotate(90deg) translate(0,49px);
    -moz-transform:rotate(90deg) translate(0,49px);
}
.cssload-loading i:nth-child(3),
.cssload-loading i:nth-child(3):before,
.cssload-loading i:nth-child(3):after{
    background: rgb(31,76,89);
}
.cssload-loading i:nth-child(3){
    transform:rotate(180deg) translate(0,49px);
    -o-transform:rotate(180deg) translate(0,49px);
    -ms-transform:rotate(180deg) translate(0,49px);
    -webkit-transform:rotate(180deg) translate(0,49px);
    -moz-transform:rotate(180deg) translate(0,49px);
}
.cssload-loading i:nth-child(4),
.cssload-loading i:nth-child(4):before,
.cssload-loading i:nth-child(4):after{
    background: rgb(255,89,84);
}
.cssload-loading i:nth-child(4){
    transform:rotate(270deg) translate(0,49px);
    -o-transform:rotate(270deg) translate(0,49px);
    -ms-transform:rotate(270deg) translate(0,49px);
    -webkit-transform:rotate(270deg) translate(0,49px);
    -moz-transform:rotate(270deg) translate(0,49px);
}


@keyframes cssload-loading-ani1{
    80%,100%{
        transform:rotate(360deg);
    }
}

@-o-keyframes cssload-loading-ani1{
    80%,100%{
        -o-transform:rotate(360deg);
    }
}

@-ms-keyframes cssload-loading-ani1{
    80%,100%{
        -ms-transform:rotate(360deg);
    }
}

@-webkit-keyframes cssload-loading-ani1{
    80%,100%{
        -webkit-transform:rotate(360deg);
    }
}

@-moz-keyframes cssload-loading-ani1{
    80%,100%{
        -moz-transform:rotate(360deg);
    }
}