@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Regular.woff2') format('woff2'),
  url('fonts/Manrope-Regular.woff') format('woff'),
  url('fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('fonts/Manrope-Bold.woff2') format('woff2'),
  url('fonts/Manrope-Bold.woff') format('woff'),
  url('fonts/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}