
.admin-style .amount_step {
    display:flex;
    font-size: 9px;
    color:#2a548c;
}

.admin-style .order-header {
    display:flex;
    justify-content: space-between;
    margin-top:5px;
}

.admin-style .order-header .title {
    margin:0;
}

.admin-style .order-header .change-status-text {
    padding:10px;
    font-weight:bold;
    font-size:18px;
    cursor:pointer;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:white;
}

.admin-style .order-header .status-color {
    display:inline-block;
    width:13px;
    height:13px;
    border-radius:50%;
    margin-right:5px;
}

.admin-style .order-header .change-status-text .value {
    border-bottom:2px dashed white;
}

.admin-style .admin-comment {
    border:1px solid #e2e2e2;
    border-radius:7px;
    padding:10px;
    margin-top:10px;
    margin-left:18px;
    position:relative;
}

.admin-comment:before {
    content:'';
    width:18px;
    height:16px;
    background:url(../img/corner.png) no-repeat;
    position:absolute;
    left:-18px;
    top:5px;
}

.admin-style .admin-comment textarea:focus,
.admin-style .admin-comment textarea {
    box-shadow:none;
    border:none;
    outline: none;
    width:100%;
    height:30px;
    resize:none;
}


.admin-style .admin-comment.filled {
    background:#ffedae;
    border-color:#ffedae;
}

.admin-style .admin-comment.filled:before {
    background:url(../img/corner_filled.png) no-repeat;
}

.admin-style .admin-comment.filled textarea {
    color:black;
    background-color:#ffedae;
}

.admin-style .order-columns {
    display:flex;
    justify-content: space-between;
    margin-top:30px;
}

.admin-style .o-leftcol {
    width:60%;
}

.admin-style .o-rightcol {
    width:38%;
}

.admin-style .order-documents {
    padding:0;
    list-style:none;
}

.admin-style .order-documents {
    -webkit-column-width: 250px;
       -moz-column-width: 250px;
            column-width: 250px;
}

.admin-style .order-beforetable-tools {
    padding:20px 0;
}

.admin-style .order-footer {
    margin-top:15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.admin-style .bordered {
    border: 1px solid #d3d3d3;
    padding:18px;
    position:relative;
    margin-top:10px;
    margin-bottom:27px;
}

.admin-style .bordered h3 {
    font-size:20px;
    margin-top:0;
    margin-bottom:15px;
}

.emptyOrderBlock a{
    text-decoration: underline;
}

.emptyOrderBlock a:hover{
    text-decoration: none;
}

.linediv {
    padding:10px 0;
    border-bottom:1px dotted #C0C0C0;
}

.enddiv {
    padding:10px 0;
}

.inline {
    float: left;
    margin-right: 10px;
    max-width:100%;
}

.inline:last-child {
    margin-right:0;
}

.pr-table {
    border-collapse:collapse;
    width:100%;

    border-top:1px solid #e2e2e2;
}

.pr-table td,
.pr-table th {
    border-bottom:1px solid #ececec;
}

.pr-table thead th {
    padding:8px 10px;
    text-align:left;
    font-weight:normal;
}

.pr-table tfoot td {
    padding: 15px 0;
    border-top:1px solid #e2e2e2;
    border-bottom:none;
}

.pr-table tbody td {
    text-align:left;
    padding:15px 10px;
}

.pr-table .title {
    text-decoration:underline;
}

.pr-table .packages-block {
    margin-top:5px;
}

.pr-table .total {
    font-size:18px;
}

.pr-table .cost {
    font-weight:bold;
}

.pr-table .discount {
    color: green;
}

.admin-style .order-footer .refresh {
    display:none;
}

.admin-style .change-offer-block {
    margin-top:15px;
}

.admin-style .show-recommended {
    display: block;
    margin-top: 10px;
    color: gray;
}

.admin-style .show-recommended span{
    display: inline-block;
    border-bottom: 1px dashed gray;
}

.admin-style .show-recommended:hover span{
    border-bottom-color: transparent;
}

.admin-style .order-footer .weight,
.admin-style .order-footer .total-price {
    font-size:18px;
    font-weight:bold;
    color:#333;
}

.admin-style .cart-item-concomitants{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.admin-style .cart-item-concomitants li{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    margin: 0;
    margin-bottom: 10px;
    padding: 3px 0;
}

.admin-style .cart-item-concomitants .concomitant-check{
    margin-right: 20px;
    margin-top: 0;
}

.admin-style .cart-item-concomitants img{
    vertical-align: middle;
}

.admin-style .cart-item-concomitant-title{
    margin-left: 20px;
    margin-right: 20px;
}

.admin-style .cart-item-concomitant-price{
    margin-right: 20px;
}

.admin-style .cart-item-concomitant-price sup{
    color: red;
}

.admin-style .cart-item-concomitant-add{
    color: green;
    border-bottom: 1px dashed green;
}

.admin-style .cart-item-concomitant-add:hover{
    border-bottom-color: transparent;
}

.admin-style .recommended-wrapper{
    position: relative;
}

.admin-style .recommended-wrapper td{
    position: relative;
}

.admin-style .closerecommended{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
}

.currency-select {
    float:right;
    padding-bottom:10px;
}

.deliveryErrors{
    color: red;
}

.company_info,
.offer_subinfo{
    color: gray;
    font-size: 10px;
}

.all-user-orders {
    text-decoration:underline;
    font-size:12px;
}

.maxWidth {
    width:97%;
}

.cdekStatuses table .hr td{
    background-color: #F0F0F0;
    color: black;
}

.cdekStatuses table td{
    font-size: 12px;
    padding: 3px;
    
}

.cdekStatuses .statusesList{
   display: block;
   margin: 0px;
   padding: 0px;
   margin-left: 20px;
   list-style: decimal; 
}

.cdekStatuses .statusesList li{
   font-size: 12px; 
}

.cdekStatuses .red,
.cdekStatuses .mainStatus,
.cdekStatuses .statusesList b{
   color: darkred; 
}

.cdekStatuses .small{
   color: gray;
   font-size: 11px;
}

.cdekCallCourier .row{
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
}

.cdekCallCourier .row.last{
    border-bottom: 0px;
}

.cdekCallCourier p{
    font-size: 12px;
}

.cdekCallCourier textarea{
    width: 450px;
    height: 56px;
}

.cdekCallCourier .chkline{
    font-size: 12px;
    margin-top: 10px;
}

.cdekCallCourier .fio{
    width:300px;
}

.cdekCallCourier .sendPhone{
    margin-top: 10px;
}

.cdekCallCourier .button{
    border: 0px;
}

.cdekCallCourier .tac{
   text-align: center;
   margin-top: 10px; 
}

.cdekWidjet{
    margin-top: 10px;
}


.cdekWidjet .title{
    font-weight: bold;
}


.cdekWidjet .additionalTitleInfo{
    margin-top: 10px;
    font-size: 12px;
}

.cdekWidjet .cdekSelect{
    margin-top: 10px;
    margin-bottom: 10px;
}

.deliveryChooseWrap{
    padding-left: 5px;
}

.deliveryError{
    color: red;
}

.collapse-block {
    margin-bottom:10px;
}

.collapse-block .collapse-title {
    padding:10px;
    margin-bottom:2px;
    cursor:pointer;
}

.collapse-block .collapse-title i {
    font-size:24px;
    vertical-align:middle;
    color:black;
    margin-right:10px;
}

.collapse-block .collapse-title h3 {
    vertical-align:middle;
    display:inline-block;
    margin:0;
    margin-right:10px;
}

.collapse-block .collapse-title .help-text {
    vertical-align:middle;
}

.collapse-block.open .collapse-title i {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
            transform: rotate(90deg);
}

.collapse-block .collapse-content {
    display:none;
    padding-bottom:30px;
}

.collapse-block.open .collapse-content {
    display:block;
}

.admin-style .edit-form .bordered {
    margin-top:0;
}

.admin-style .hl-block {
    background:#fafafa;
    padding:20px 0;
}

.admin-style .admin-comment-ta {
    overflow:hidden;
}

.admin-style .delivery-orders-item {
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    .admin-style .order-header .title {
        font-size:20px;
    }

    .admin-style .order-header .status .dropdown-menu {
        width:100%;
    }

    .admin-style .order-header .change-status-text {
        margin:15px 0;
        text-align:center;
        font-size:16px;
        max-width: 100%;
    }

    .admin-style .order-header,
    .admin-style .o-leftcol,
    .admin-style .o-rightcol,
    .admin-style .order-columns {
        display:block;
        width:100%;
    }

}