<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Экспорт данных</name>
        <description multilanguage="true">Экспорт данных в сторонние форматы</description>
        <version>4.0.46</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>
    </defaultValues>
</config>
