.system-tests .item {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #ececec;
    padding:20px 0;
}

.system-tests .item .title {
    font-size:20px;
    color:#222;
}

.system-tests .item .result {
    white-space: nowrap;
}

.system-tests .item .result > * {
    vertical-align: middle;
}

.system-tests .item.success .result {
    color:green;
}

.system-tests .item.fail .result {
    color:red;
}

.system-tests .item .result i {
    font-size:21px;
    margin-right:5px;
}

.system-tests .recommendation {
    margin-top:10px;
}