<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Формы обратной связи</name>
        <description multilanguage="true">Позволяет определить состав форм, которые можно разместить на страницах сайта</description>
        <version>4.0.13</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>        
    </defaultValues>
</config>
