/* font-family: "UbuntuRegular"; */
@font-face {
  font-family: "UbuntuRegular";
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff"), url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "UbuntuBold"; */
@font-face {
  font-family: "UbuntuBold";
  src: url("../fonts/UbuntuBold/UbuntuBold.eot");
  src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff"), url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "UbuntuItalic"; */
@font-face {
  font-family: "UbuntuItalic";
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot");
  src: url("../fonts/UbuntuItalic/UbuntuItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuItalic/UbuntuItalic.woff") format("woff"), url("../fonts/UbuntuItalic/UbuntuItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "UbuntuLight"; */
@font-face {
  font-family: "UbuntuLight";
  src: url("../fonts/UbuntuLight/UbuntuLight.eot");
  src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff"), url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "UbuntuLightItalic"; */
@font-face {
  font-family: "UbuntuLightItalic";
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot");
  src: url("../fonts/UbuntuLightItalic/UbuntuLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.woff") format("woff"), url("../fonts/UbuntuLightItalic/UbuntuLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "UbuntuMedium"; */
@font-face {
  font-family: "UbuntuMedium";
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot");
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"), url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "UbuntuMediumItalic"; */
@font-face {
  font-family: "UbuntuMediumItalic";
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot");
  src: url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.woff") format("woff"), url("../fonts/UbuntuMediumItalic/UbuntuMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "UbuntuBoldItalic"; */
@font-face {
  font-family: "UbuntuBoldItalic";
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot");
  src: url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.woff") format("woff"), url("../fonts/UbuntuBoldItalic/UbuntuBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.container-fluid {
  max-width: 1540px;
}

.exception-body {
  background: url(../img/404bg.png) repeat;
}
.exception-body .exception-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 55px 0;
}
@media (max-width: 991px) {
  .exception-body .exception-nav {
    padding: 20px 0;
  }
}
.exception-body .exception-nav li {
  font-family: "UbuntuLight";
  font-size: 18px;
  padding: 10px;
}
.exception-body .exception-nav li a {
  color: #333;
}
.exception-body .exception-message {
  text-align: center;
}
.exception-body .exception-message_code {
  font-size: 400px;
  line-height: 100%;
  font-family: "UbuntuBold";
  font-weight: bold;
  text-shadow: 7px 7px 25px #cecece;
  color: white;
}
@media (max-width: 991px) {
  .exception-body .exception-message_code {
    font-size: 250px;
  }
}
@media (max-width: 767px) {
  .exception-body .exception-message_code {
    font-size: 160px;
  }
}
.exception-body .exception-message_text {
  font-size: 20px;
  font-family: "UbuntuRegular";
  padding-bottom: 10px;
}

/*# sourceMappingURL=exception.css.map */
