<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Блок файлов</name>
        <description multilanguage="true">Позволяет прикреплять файлы к различным объектам в системе</description>
        <version>4.0.6</version>
        <is_system>1</is_system>
        <author>ReadyScript</author>
    </defaultValues>
</config>
