<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Фотогалерея</name>
        <description multilanguage="true">Позволяет на сайте завести фотогалерею с помощью блока Дизайнер</description>
        <version>1.0.3</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>
    </defaultValues>
</config>
