<?xml version="1.0" encoding="utf-8"?>
<config>
    <defaultValues>
        <name multilanguage="true">Поддержка. Личные сообщения</name>
        <description multilanguage="true">Переписка администратора и пользователя в личном кабинете</description>
        <version>4.0.5</version>
        <author>ReadyScript lab.</author>
        <is_system>1</is_system>        
        <send_admin_message_notice>Y</send_admin_message_notice>
        <send_user_message_notice>Y</send_user_message_notice>
    </defaultValues>
</config>
